@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  margin: 0;
}

@layer base {
  /* button {
    @apply text-gray-950;
  } */
}

@layer components {
  .logo {
    @apply w-48 h-auto;
  }
  .img-property {
    @apply h-auto w-28 sm:w-40 rounded-full;
  }
}

/* our new class  */
@layer utilities {
}
