@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  /* button {
    @apply text-gray-950;
  } */
}

@layer components {
  /* .foto-profile {
    @apply w-40 md:w-full h-auto rounded-xl self-center;
  } */
}

/* our new class  */
@layer utilities {
}
